Matlab/SineSweep/ExperimentData/Yu.mat
Matlab/SineSweep/ExperimentData/f.mat
Matlab/SineSweep/ExperimentData/Y2.mat
Matlab/SineSweep/ExperimentData/uvec.mat
Matlab/SineSweep/ExperimentData/theta1.mat
Matlab/SineSweep/ExperimentData/Y1.mat
Matlab/SineSweep/ExperimentData/theta2.mat
Matlab/SineSweep/ExperimentData/tvec.mat